@media (min-width: 2000px) and (max-width: 4000px) {
    .menu_area .navbar-brand {
        font-size: 42px;
    }
    .menu_area nav .nav-link {
        padding: 35px 7.5px;
    }
    .sing-up-button > a {
        color: #fff;
        height: 40px;
        min-width: 152px;
        line-height: 36px;
        font-size: 14px;
    }

    .welcome_area {
        height: 1000px;

    }
    .welcome-thumb {
        width: 30%;
        bottom: 0;
        right: 300px;
    }
    .video-area {
        height: 550px;
    }
    .app_screenshots_slides {
        padding: 0 4%;
    }
    .header_area.sticky .menu_area nav .nav-link {
        padding: 23px 7.5px;
    }
}
@media (min-width: 1200px) and (max-width: 1999px) {
    .menu_area .navbar-brand {
        font-size: 42px;
    }
    .menu_area nav .nav-link {
        padding: 35px 7.5px;
    }
    .sing-up-button > a {
        color: #fff;
        height: 40px;
        min-width: 152px;
        line-height: 36px;
        font-size: 14px;
    }

    .welcome-heading {
      position: relative;
      left: 0;
      text-align: center;

      margin: auto;

    }

    .welcome-heading > h3 {
        font-size: 252px;
        top: -100px;
        left: 150px;
        text-align: center;
    }

    .welcome-heading > h2 {
        font-size: 70px;
        top: 0;
        left: 0;
        text-align: center;
    }

    .welcome-heading > h4 {
        font-size: 45px;
        top: 0;
        left: 0;
        text-align: center;
    }

    .welcome_area {
        height: 1000px

    }
    .welcome-thumb {
        width: 40%;
        bottom: -50px;
        right: 100px;
    }

    .get-start-area {
        position: relative;
        top: 50px;
        left: 30%;
        right: 0;
      }


.welcome-mobile {
        height: 200px;

}


    .video-area {
        height: 550px;
    }
    .app_screenshots_slides {
        padding: 0 4%;
    }
    .header_area.sticky .menu_area #nav .nav-link {
        padding: 23px 7.5px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .menu_area .navbar-brand {
        font-size: 42px;
    }
    .menu_area #nav .nav-link {
        padding: 35px 7.5px;
    }
    .sing-up-button > a {
        color: #fff;
        height: 40px;
        min-width: 152px;
        line-height: 36px;
        font-size: 14px;
    }
    .welcome-thumb {
        width: 45%;
        bottom: -100px;
        left: 25%;
    }

    .welcome-mobile {
      height: 200px;
    }

    .welcome-heading > h2 {
        text-align: center;
        font-size: 45px;
    }

    .welcome-heading > h4 {
        text-align: center;
    }

    .get-start-area {
        position: relative;
        left: 25%;
        bottom: auto;
}

    .video-area {
        height: 465px;
    }
    .app_screenshots_slides {
        padding: 0 4%;
    }
    .header_area.sticky .menu_area #nav .nav-link {
        padding: 23px 7.5px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header_area {
        padding: 0;
    }
    .menu_area .navbar-brand {
        font-size: 48px;
    }
    .header_area.sticky {
        height: 50px;
    }
    .header_area .menu_area #nav .nav-link,
    .header_area.sticky .menu_area #nav .nav-link {
        padding: 7.5px 15px;
    }
    #ca-navbar {
        padding: 30px;
        border-radius: 3px;
        background-color: #000000;
        opacity: 0.5
        text-align: left;
    }

    .get-start-area {
        position: relative;
        left: 20%;
        bottom: auto;
    }
    .sing-up-button {
        margin-top: 30px;
        text-align: left;
    }
    .welcome-mobile {
        height: 150px;
}
    .welcome-thumb {
        width: 50%;
        bottom: -100px;
        left: 25%;
    }
    .welcome-heading {
        margin-bottom: 70px;
    }

    .welcome-heading > h2 {
        font-size: 50px;
        text-align: center;
    }

    .welcome-heading > h4 {
        text-align: center;
    }

    .single-special {
        padding: 30px 10px;
    }
    .special_description_area.mt-150 {
        margin-top: 50px;
    }
    .special_description_content > h2 {
        font-size: 30px;
    }
    .video-area {
        height: 350px;
    }
    .section-heading > h2 {
        font-size: 38px;
    }
    .address-text > p,
    .phone-text > p,
    .email-text > p {
        font-size: 16px;
    }
    .footer-text > p {
        margin-bottom: 30px;
    }
    .section-heading {
        margin-bottom: 50px;
    }
    .sing-up-button > a {
        margin-top: 4px;
        display: inline-block;
        border: 2px solid #a883e9;
        height: 40px;
        min-width: 160px;
        line-height: 36px;
        font-size: 14px;
    }
    .counter-area {
        min-width: 50px;
    }
    .counter-area > h3 {
        font-size: 30px;
     }
    .app_screenshots_slides {
        padding: 0;
    }
    .clients-feedback-area .slick-slide.slick-current img {
        width: 90px !important;
        height: 90px !important;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .header_area {
        padding: 0;
    }
    .menu_area .navbar-brand {
        font-size: 48px;
    }
    .header_area.sticky {
        height: 50px;
    }
    .header_area .menu_area #nav .nav-link,
    .header_area.sticky .menu_area #nav .nav-link {
        padding: 5px 15px;
    }
    #ca-navbar {
        padding: 20px;
        border-radius: 3px;
        background-color: #5b32b4;
        text-align: left;
    }
    .sing-up-button {
        margin-top: 30px;
        text-align: left;
    }
    .header_area {
        top: 0;
    }
    .get-start-area {
        position: relative;
        left: 0;
        bottom: auto;
    }
    .welcome_text .cd-intro > p {
        font-size: 14px;
    }
    .welcome-heading > h2 {
        font-size: 40px;
        text-align: center;
    }

    .welcome-heading > h4 {
        text-align: center;
    }

    .get-start-area .email {
        margin-bottom: 20px;
        max-width: 90%;
        position: relative;
        left: 5%
    }
    .get-start-area .submit {
        position: relative;
        left: 25%;
        text-align: center;
        margin-top: 20px;
    }
    .welcome-thumb {
        width: 90%;
        bottom: 0;
        left: 5%;
    }
    .welcome-mobile {
      height: 200px;
    }
    .logo_area > a > h2 {
        font-size: 40px;
        margin-top: 10px;
    }
    .section-heading > h2 {
        font-size: 32px;
    }
    .single-special {
        margin-bottom: 30px;
    }
    .special_description_area.mt-150 {
        margin-top: 50px;
    }
    .special_description_content > h2 {
        font-size: 30px;
    }
    .app-download-btn:first-child {
        margin-right: 0;
    }
    .app-download-area {
        display: block;
    }
    .app-download-btn {
        margin-bottom: 20px;
    }
    .video-area {
        border: 10px solid #fff;
        border-radius: 20px;
        height: 210px;
    }
    .video-area::after {
        top: -10px;
        left: -10px;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        border: 1px solid #f1f4f8;
        z-index: 2;
        border-radius: 20px;
    }
    .cool_facts_area {
      padding-bottom: 0;
    }
    .clients-feedback-area .client-description > p {
        font-size: 20px;
    }
    .clients-feedback-area .slick-slide img {
        width: 60px !important;
        height: 60px !important;
    }
    .clients-feedback-area .slick-slide.slick-current img {
        width: 70px !important;
        height: 70px !important;
    }
    .membership-description > h2 {
        font-size: 32px;
    }
    .get-started-button {
        text-align: left;
        margin-top: 20px;
    }
    .contact_from {
        margin-top: 30px;
    }
    .welcome-heading > h3 {
        font-size: 252px;
        top: -105px;
        left: -1px;
        text-align: center;
    }
    .welcome-heading,
    .single-cool-fact {
        margin-bottom: 50px;
    }
    .cool_facts_area .col-12:last-of-type .single-cool-fact {
        margin-bottom: 0;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .welcome-heading > h4 {
        text-align: center;
    }
    .welcome-heading > h2 {
        font-size: 70px;
        text-align: center;
    }
    .welcome-thumb {
        bottom: -90px;
        width: 80%;
        right: 20%;
    }
    .get-start-area {
      padding-bottom: 100px;
    }
    .welcome-mobile {
      bottom: -90px;
      width: 100%;
      left: -35%;
      background-color: #ffffff;
    }
    .welcome-heading {
        margin-bottom: 50px;
    }
    .welcome-heading > h3 {
        top: -139px;
    }
    .get-start-area .email {
        max-width: 370px;
    }

    .cool_facts_area {
      height: 200px;

    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .welcome_area {
      height: 800px;
    }

    .welcome-heading > h4 {
        text-align: center;
    }

    .welcome-heading > h2 {
        text-align: center;
    }

    .get-start-area .email {
        margin-bottom: 0;
    }

    .welcome-thumb {
        position: relative;
        bottom: 300px;
        left: 45%;

    .cool_facts_area {
      height: 100px;


    }


    }
}
